<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Recipes-Book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" routerLink="/recipes">Recipies
                        List</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link"  routerLink="/shopping-list">Shopping List</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link"  routerLink="/project">Project</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                     <a style="cursor: pointer" class="dropdown-toggle" role="button">
                    Manage <span class="caret"></span>
                     </a>
                    <ul class="dropdown-menu">
                    <li><a style="cursor: pointer">Save Data</a></li>
                    <li><a style="cursor: pointer">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>