<div class="container">
    <div class="card mb-5">
        <div class="card-header">
            <h1 class="text-center">{{product.title}}</h1>
        </div>
        <div class="card-body text-center">
            <img src="{{product.images[0]}}" >

        </div>

        <div class="card-footer">
            <p><span><b>Description :</b></span> {{product.description}}</p>
            <p><span><b>Price :</b></span> ${{product.price}}</p>
            <p><span><b>Discount Percentage :</b></span> {{product.discountPercentage}}%</p>
        </div>
    </div>
</div>