.container .edit-col{
    display: flex;
    flex-direction: column;margin-bottom: 15px;
}
.container .edit-col input{
    height:45px;border-color: rgb(236, 241, 240);border-radius:7px
}
.container .edit-col textarea{
    border-color: rgb(236, 241, 240);border-radius:7px
}
.container .edit-col label{
    font-weight: bold;
}